<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Notes</title>
</head>
<body>
<h1>List of Notes</h1>
<a href="/note/create">Create New Note</a>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${note}">
        <td th:text="${note.title}">Title</td>
        <td th:text="${note.content}">Content</td>
        <td>
            <a th:href="@{/note/edit(id=${note.id})}">Edit</a>
            <form th:action="@{/note/delete}" method="post">
                <input type="hidden" name="id" th:value="${note.id}" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
